body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6df9a3, #60a3ef);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(159, 190, 230);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #1f1616;
    background-color: antiquewhite;
}

.buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background: #7693ea;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}