body {
    font-family: Arial;
    background: linear-gradient(135deg, #62f695, #5b86e5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
}

#profileCard {
    margin: 15px 0;
    padding: 10px;
    background: #6689f38a;
    border-radius: 5px;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #f77c4c;
    color: rgb(10, 9, 9);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2a9fd6;
}